<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22066638918-s895gttjr0hrnd94830b1fufvpbnsr07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22066638918-s895gttjr0hrnd94830b1fufvpbnsr07</string>
	<key>API_KEY</key>
	<string>AIzaSyDp7cJx5oSgUQVw4ZnxrLF01uBeg-9Zs1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>22066638918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TallasseePark</string>
	<key>PROJECT_ID</key>
	<string>tallassee-park-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tallassee-park-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22066638918:ios:50850d53d9738c39b01a47</string>
	<key>DATABASE_URL</key>
	<string>https://tallassee-park-app.firebaseio.com</string>
</dict>
</plist>